.fondo-color {
    background: rgb(208,230,165);
    background: linear-gradient(0deg, rgba(208,230,165,0.6194852941176471) 0%, rgba(134,227,206,0.3477766106442577) 100%);
}

/*
background: rgb(1,145,180);
background: radial-gradient(circle, rgba(1,145,180,0.10688025210084029) 0%, rgba(134,227,206,1) 100%);*/
:host::ng-deep .p-card .p-card-body {
    padding: 1.25rem;
    box-shadow: -11px 10px 5px 0px rgba(11,7,66,0.3);
  -webkit-box-shadow: -11px 10px 5px 0px rgba(11,7,66,0.3);
  -moz-box-shadow: -11px 10px 5px 0px rgba(11,7,66,0.3);
}
:host::ng-deep p-image img, img{
  width: 100%;
  height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
}
