.navbar{
    background: rgb(11,7,66);

    height: 11vh;
}

.pi{
    font-size: 2rem;
    color: white;
}
:host::ng-deep p-image img{
    width: 30vh;
    height: auto;
    display: block;
}

:host::ng-deep .p-sidebar-content{
    overflow-y: inherit;
}
  