.navbar{
    background: rgb(11,7,66);

    height: 11vh;
}

.pi{
    font-size: 2rem;
    color: white;
}
:host::ng-deep p-image img{
    width: 50%;
    height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
  }
  