/* You can add global styles to this file, and also import other style files */
app-root {
  display: block;
  height: 100vh;
}
.p-card .p-card-body {
    padding: 1.25rem;
    box-shadow: -11px 10px 5px 0px rgba(11,7,66,0.3);
  -webkit-box-shadow: -11px 10px 5px 0px rgba(11,7,66,0.3);
  -moz-box-shadow: -11px 10px 5px 0px rgba(11,7,66,0.3);
  }

