<p-card header="Inicio de sesión" class="text-center ">
    <div class="flex align-content-start flex-wrap card-container blue-container" style="min-height: 25vh">
        <div class="field p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
            <input type="text" pInputText class="p-inputtext-lg" placeholder="Correo">         
        </div>
        <div class="field p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="password" pInputText class="p-inputtext-lg" placeholder="Contraseña">         
        </div>
    </div>
    
    
    <ng-template pTemplate="footer">
        <p-button label="Iniciar sesión" icon="pi pi-send" iconPos="right" (onClick)="iniciarSesion()"></p-button>
    </ng-template>
</p-card>

