<p-card header="Inicio de sesión" class="text-center ">
    <div class="field p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
        <input type="text" pInputText class="p-inputtext-lg" placeholder="Correo">         
    </div>
    <div class="field p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="password" pInputText class="p-inputtext-lg" placeholder="Contraseña">         
    </div>
    
    <ng-template pTemplate="footer">
        <p-button label="Click" icon="pi pi-send" iconPos="right"></p-button>
    </ng-template>
</p-card>

